.cart-container {
    padding: 16px;
  }
  
  .cart-items, .order-summary {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  h2 {
    margin-bottom: 16px;
  }
  


  mat-grid-tile {
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cart{
    margin-top: 60px;
  }