.cart-container {
    padding: 16px;
  }
  
  .cart-items, .order-summary {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  h2 {
    margin-bottom: 16px;
  }
  


  mat-grid-tile {
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cart{
    margin-top: 60px;
  }





  .cart-container {
    padding: 16px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .cart-item img {
    height: 180px;
    object-fit: cover;
  }
  
  .item-title {
    margin: 8px 0;
  }
  
  .cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .order-summary-card {
    text-align: center;
    padding: 16px;
  
    .checkout-button {
      margin-top: 16px;
      width: 100%;
    }
  }
  

  