<mat-toolbar>
  <button mat-icon-button>
    <mat-icon [routerLink]="['/navbar/menus']">menu</mat-icon>
  </button>
  <span>Tiffin Service</span>
  <span class="space-between"></span>
  <button mat-button [matMenuTriggerFor]="ordersMenu">My Orders</button>
  <mat-menu #ordersMenu="matMenu">
    <button mat-menu-item (click)="orderHistory('pending')">Pending</button>
    <button mat-menu-item (click)="orderHistory('delivered')">Delivered</button>
    <button mat-menu-item (click)="orderHistory('cancelled')">Cancelled</button>
  </mat-menu>
  
  <!-- <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button> -->
  <button mat-icon-button [routerLink]="['/navbar/cart']">
<mat-icon matBadge={{cartLength}}>shopping_cart</mat-icon>
   
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matTooltip="Logout" (click)="onLogout()">power_settings_new</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>