<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tiffin Service</span>
  <span class="space-between"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matTooltip="Logout" (click)="onLogout()">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>