.retailer-section {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .retailer-name {
    text-align: center; 
    font-size: 24px;
    font-weight: bold; 
    margin-bottom: 20px; 
  }
  .tiffin-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  